header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
    font-size: 22px;
    font-weight: 700 ;
    color: #010101;
    padding: 0 30px; 
}
.menu ul li:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: white !important;
}

/*home start*/
#draggable { width: 150px; height: 150px; padding: 0.5em; }
/*home end*/
